.settings-setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-setting i {
  margin-right: 12px;
}
.settings-column:last-child {
  color: #999999;
}
