.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}
